body{
    margin: 0;
}

html, body{
    box-sizing: border-box;
    height: 100%;
    background-color: antiquewhite;
}

.navbar{
    border-color: blue;
    border-style: double;
    background-color: white;
}

.nav-con{
    border: none;
    display: flex;
    justify-content: flex-end;
    background-color: green;
}

.nav-con > li{
    padding: 15px;
    text-align: center;
    font-size: 22px;
    color: grey;
    box-sizing: border-box;
    list-style-type: none;
    background-color: pink;
}

.logo_img{
    width: 50px;
    margin-right: auto;
}