h1{
font:bold;
color:deeppink;
margin-left:60px;
border-bottom:ridge black;
}

body{
background-color:lightpink;
}

#one{
color:palevioletred;
position:absolute-fixed;
border-bottom:ridge pink;

}

#two{
color:palevioletred;
position:absolute-fixed;
border-bottom:ridge pink;

}

#info{
color:mediumvioletred;
position:absolute;
bottom:60px;
border:double;
}

.contact{
position:absolute;
bottom:1px
}

#list{
width:60px;
position:absolute;
top:10px;
left:10px;
}

.welcome{
margin:30px;
position:absolute;
top:100px;
font-family:cursive;
font-style:italic;
color:lavenderblush;
}

#beach{
position:relative;
width:1234px;
height:150px;
left:1px;
}

.PINK{
color:deeppink;
}

.YELLOW{
color:gold;
}

.BLUE{
color:royalblue;
}

.GREEN{
color:forestgreen;
}








